In [60]:
import string
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns

In [61]:
df = pd.read_csv(r"C:\Users\HP\Desktop\gtec 1\ml\Language Detection.csv")
df.head()

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [62]:
import string

def remove_pun(text):
    for pun in string.punctuation:
        text = text.replace(pun, "")
    text = text.lower()
    return(text)

In [63]:
df['Text'] = df['Text'].apply(remove_pun)

In [64]:
df.head()

                                                Text Language
0   nature in the broadest sense is the natural p...  English
1  nature can refer to the phenomena of the physi...  English
2  the study of nature is a large if not the only...  English
3  although humans are part of nature human activ...  English
4  1 the word nature is borrowed from the old fre...  English

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
X=df.iloc[:,0]
Y = df.iloc[:, 1]

In [67]:
Y

0        English
1        English
2        English
3        English
4        English
          ...
10332    Kannada
10333    Kannada
10334    Kannada
10335    Kannada
10336    Kannada
Name: Language, Length: 10337, dtype: object

In [68]:
Xtrain, Xtest, Ytrain, Ytest = train_test_split(X,Y, test_size=0.2, random_state=42)

In [69]:
from sklearn import feature_extraction
from sklearn.feature_extraction.text import TfidfVectorizer

In [70]:
vec = TfidfVectorizer(analyzer='char', ngram_range=(1, 2))

In [71]:
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

In [72]:
model_pipe = Pipeline([
    ('vec', vec),
    ('clf', LogisticRegression())
])

In [73]:
model_pipe.fit(Xtrain, Ytrain)
y_pred = model_pipe.predict(Xtest)

In [74]:
y_pred

array(['Russian', 'Italian', 'English', ..., 'Dutch', 'Greek', 'French'],
      dtype=object)

In [75]:
predict_val = model_pipe.predict(Xtest)

In [76]:
from sklearn import metrics

In [77]:
metrics.accuracy_score(Ytest, predict_val)*100

97.43713733075435

In [78]:
metrics.confusion_matrix(Ytest, predict_val)

array([[106,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,  70,   1,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   2,   0,   0],
       [  0,   0, 106,   2,   0,   0,   0,   0,   0,   0,   0,   1,   0,
          1,   1,   0,   0],
       [  0,   1,   1, 287,   0,   0,   0,   0,   2,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   2, 213,   0,   0,   0,   1,   0,   0,   1,   0,
          0,   1,   0,   1],
       [  0,   0,   2,   1,   0,  88,   0,   0,   0,   0,   0,   0,   0,
          0,   2,   0,   0],
       [  0,   0,   0,   0,   0,   0,  68,   0,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,  10,   0,   0,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   1,   0,   1,   1,   0,   0,   0, 137,   0,   0,   1,   0,
          4,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,  66,   0,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   0,   1,   0,   0,   0,   0,   0,   0, 120,   0,   0,
          0,   0,   0,   0],
       [  0,   0,   1,   0,   1,   1,   0,   0,   1,   0,   0, 139,   0,
          1,   0,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0, 136,
          0,   0,   0,   0],
       [  1,   0,   0,   0,   1,   0,   0,   0,   2,   0,   0,   2,   0,
        154,   0,   0,   0],
       [  0,   3,   0,   1,   1,   0,   0,   0,   1,   0,   0,   0,   0,
          0, 127,   0,   0],
       [  0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,   0,
          0,   0,  87,   0],
       [  0,   0,   1,   0,   1,   0,   0,   0,   0,   0,   0,   1,   0,
          0,   1,   0, 101]], dtype=int64)

In [79]:
model_pipe.predict(['आधुनिक मानक हिन्दी'])

array(['Hindi'], dtype=object)

In [80]:
import pickle

In [81]:
new_file = open('model.Pckl','wb')
pickle.dump(model_pipe,new_file)
new_file.close()

In [82]:
import os